<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241801887584-k1bortddj7scu5ahjcf6l3h2a8q46qe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241801887584-k1bortddj7scu5ahjcf6l3h2a8q46qe1</string>
	<key>API_KEY</key>
	<string>AIzaSyB4-SUOuuu1wAphLACt88WJGpc90CW6qrs</string>
	<key>GCM_SENDER_ID</key>
	<string>241801887584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jisuKim.instagram-ios-jason</string>
	<key>PROJECT_ID</key>
	<string>risingcampjason</string>
	<key>STORAGE_BUCKET</key>
	<string>risingcampjason.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241801887584:ios:1c9ec6c0ac6b53df26e805</string>
</dict>
</plist>